<div class="parallaxCU" id="title" style="min-height: 500px;">

    <h4 id='homeTitle'>Contact Us!</h4>

</div>
</div>
<div id="contactPara">
		<div class="a">
		  <h3 id="sendMessage">Send A Message</h3>
		 <form id="contact">
		 	<div class="form-group">
		      <label id="name" for="name">Name:</label>
		      <input type="name" class="form-control" id="nameBox" placeholder="Enter Name" name="name">
		    </div>
		    <div class="form-group">
		      <label id="email" for="email">Email:</label>
		      <input type="email" class="form-control" id="emailBox" placeholder="Enter Email" name="email">
		    </div>
		   <div class="form-group">
		      <label id="subject" for="subject">Subject:</label>
		      <input type="subject" class="form-control" id="subjectBox" placeholder="Subject" name="subject">
		    </div>
		   <div class="form-group">
		      <label id="message" for="message">Message:</label>
		      <input type="text" class="form-control" id="messageBox" placeholder="Lets Taco-Bout-it" name="message">
		    </div>
		    <button id="submitBtn" type="submit" class="btn btn-default">Submit</button>
		  </form>
		</div>

	</div>
