<div class="parallax" id="title" style="min-height: 500px;">


  <h1 id='homeTitle'>Let's Taco Bout It</h1>

</div>

<div id="communityTitle">
<div class="a">
  <h3>Our Mission</h3>
  <p>We hold ourselves to the highest standards in the industry because we know that’s what our consumers expect. Since day one, our tacos have been made with ingredients that come from the Earth such as avocado and corn which are grown by farmers across the country in the most sustainable way possible. This respect for the environment extends to our manufacturing processes and the way we bring products to our restaurant.</p>
</div>
</div>

<div id="promoTitle">
<div class="a">
  <h3>Promotions</h3>
  <p>There’s a lot more to great tacos than meets the taste buds. Every day, TACO-BOUT-IT associates are hard at work bringing you new products, promotions and programs. Explore the latest, and be sure to check back often to see what we come up with next.</p>
</div>
</div>

<div class="row">
	<div class="col-md-12">
	<h3 id="who">Who We Are</h3>
	</div>
</div>

<div class="container">
<div class="row aboutUs text-center">
	<div class="col-md-3">
		<h5>Brandon Fuller</h5>
		<img class="profilePics" id="clickB" src="/images/brandon.jpg" alt="Brandon">
		<br>
		<p class="about" id="aboutB">After graduating Texas A&M, Brandon travelled the world in search of the best taco and freshest ingredient, and so Robo-Taco was born. Besides running a multi-million dollar corportaion, Brandon farms bees in his spare time.</p>
	</div>

	<div class="col-md-3">
		<h5>Colin McDonnell</h5>
		<img class="profilePics" id="clickC" src="/images/colin3.jpg" alt="Colin">
		<br>
		<p class="about" id="aboutC">Colin realized his love for numbers and tacos while his band was on tour just off the coast of Mexico. Brandon and Colin met during these travels and have dedicated their lives to bringing taco happiness to all. In his spare time, he watches Food Network. </p>
	</div>
	<div class="col-md-3">
		<h5>Lauren Hutchinson</h5>
		<img class="profilePics" id="clickL" src="/images/lauren.jpg" alt="Lauren">
		<br>
		<p class="about" id="aboutL">Currently a senior at SMU, Lauren brings fresh ideas of wait to reach out and spread taco cheer. Her innovative thinking the keeps doors and mouths opens. In her spare time, she collects feathers.</p>
	</div>
	<div class="col-md-3">
		<h5>Phillip Chu</h5>
		<img class="profilePics" id="clickP" src="/images/phillip.jpg" alt="Phillip">
		<br>
		<p class="about" id="aboutP">Phil loves people. After graduating from Texas A&M with Brandon, Phil knew he had to take his love for tacos and connecting with the community and put the two together. In his spare time, he runs a donut shop.</p>
	</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	$("#aboutB").hide();
	$("#aboutC").hide();
	$("#aboutL").hide();
	$("#aboutP").hide();
});

	$("#clickB").click(function(){
	event.preventDefault();
    $("#aboutB").show();

    $("#aboutC").hide();
	$("#aboutL").hide();
	$("#aboutP").hide();
});

	$("#clickC").click(function(){
	event.preventDefault();
    $("#aboutC").show();

    $("#aboutB").hide();
	$("#aboutL").hide();
	$("#aboutP").hide();
});

	$("#clickL").click(function(){
	event.preventDefault();
    $("#aboutL").show();

    $("#aboutC").hide();
	$("#aboutB").hide();
	$("#aboutP").hide();
});

	$("#clickP").click(function(){
	event.preventDefault();
    $("#aboutP").show();

    $("#aboutC").hide();
	$("#aboutL").hide();
	$("#aboutB").hide();
});
</script>


