<div class="parallax" id="title" style="min-height: 500px;">


  <h4 id='homeTitle'>Let's Taco Bout It</h4>

</div>

<div id="communityTitle">
<div class="a">
  <h3>Our Mission</h3>
  <p>We hold ourselves to the highest standards in the industry because we know that’s what our consumers expect. Since day one, our tacos have been made with ingredients that come from the Earth such as avocado and corn which are grown by farmers across the country in the most sustainable way possible. This respect for the environment extends to our manufacturing processes and the way we bring products to our restaurant.</p>
</div>
</div>

<div id="promoTitle">
<div class="a">
  <h3>Promotions</h3>
  <p>There’s a lot more to great tacos than meets the taste buds. Every day, TACO-BOUT-IT associates are hard at work bringing you new products, promotions and programs. Explore the latest, and be sure to check back often to see what we come up with next.</p>
</div>
</div>

<div class="row">
	<div class="col-md-12">
	<h3 id="who">Who We Are</h3>
	</div>
</div>

<div class="container">
<div class="row aboutUs text-center">
	<div class="col-md-3">
		<h5>Brandon Fuller</h5>
		<img class="profilePics" src="/images/brandon.jpg" alt="Brandon">
		<br>
		<p class="about">This is Brandon</p>
	</div>

	<div class="col-md-3">
		<h5>Colin McDonnell</h5>
		<img class="profilePics" src="/images/colin2.jpg" alt="Colin">
		<br>
		<p class="about">This is Colin</p>
	</div>
	<div class="col-md-3">
		<h5>Lauren Hutchinson</h5>
		<img class="profilePics" src="/images/lauren.jpg" alt="Lauren">
		<br>
		<p class="about">This is Lauren</p>
	</div>
	<div class="col-md-3">
		<h5>Phillip Chu</h5>
		<img class="profilePics" src="/images/phillip.jpg" alt="Phillip">
		<br>
		<p class="about">This is Phil</p>
	</div>
	</div>
</div>
