<div class="parallaxMENU" id="title" style="min-height: 500px;">

  <h1 id='homeTitle'>Our Menu</h1>

</div>

<br><br>

<div id="menu">
  <h3>All Tacos come in orders of 2 or 4</h3>
  <p class="sigIng">Comes with side of chips and your choice of salsa (Guac is extra).</p>
  
  <br>

  <h3 class="sigTaco">Taco-CRAZED</h3>
  <p class="sigIng">Slow-cooked tender steak, your choice of beans, rice, lettuce, tomatoes, jalapenos and cojita cheese, topped with tomatillo salsa. Flour or corn tortilla. (Add avocado + $1.50)</p>

  <br>

  <h3 class="sigTaco">Taco-Fuego</h3>
  <p class="sigIng">Our famous carnitas tacos, pinto beans, spanish rice, tomatoes, and jalapenos, topped with pepperjack cheese, and flaming hot diablo salsa. Flour or corn tortillas. (Add avocado + $1.50)</p>

  <br>

  <h3 class="sigTaco">Taco-Vegan</h3>
  <p class="sigIng">Non-GMO organic tofu, your choice of beans, brown rice, tomatoes, and grilled seasonal vegetables, topped with our mild salsa rojo. Flour or corn tortilla. (Add avocado + $1.50)</p>

  <br>

  <h3 class="sigTaco">The Basic</h3>
  <p class="sigIng">Melt-in-your-mouth chicken, white rice, pinto beans, corn, topped with cojita choice, lettuce, and tomatillo salsa. Flour or corn tortilla. (Add avocado + $1.50)</p>

  <br>

  <h3 class="sigTaco">All-dem-Veggies</h3>
  <p class="sigIng">Grilled seasonal veggies, tomatoes, corn, lettuce, topped with our signature coleslaw, on a bed of sauteed onions and mushrooms. Beans of your choice. Flour or corn tortilla. (Add avocado + $1.50)</p>

  <br>

  <h3 class="sigTaco">Unda-da-Sea</h3>
  <p class="sigIng">Shrimp sauteed in olive oil, brown rice, your choice of beans, tomatoes, lettuce and onion, topped with salsa rojo. Flour or corn tortilla. (Add avocado + $1.50)</p>

  <br>

  <h3 class="sigTaco">Add ons</h3>
  <h4>Tortillas</h4>
  <p class="sigIng">Corn <br> Flour</p>

  <br>
  
  <h4>Beans</h4>
  <p class="sigIng">Black <br> Pinto</p>

  <br>

  <h4>Proteins</h4>
  <p class="sigIng">Chicken <br> Steak <br> Carnitas <br> Shrimp <br> Non-GMO Organic Tofu</p>

  <br>
  
  <h4>Vegetables</h4>
  <p class="sigIng">Grilled-seasonal <br> Lettuce <br> Tomatoes <br> Corn <br> Jalapeno <br> Avocado <br> Coleslaw <br> Onions<br> Mushroom</p>

  <br>
  
  <h4>Cheese</h4>
  <p class="sigIng">Cheddar <br> Pepperjack <br> Cojita <br> Sour Cream</p>

  <br>
  
  <h4>Salsa</h4>
  <p class="sigIng">Tomatillo <br> Rojo <br> Diablo</p>

  <br>

</div>
</div>

{{!-- {{#each reviews}}
{{#if_ls this.id 6}}
  <li class="anim{{this.id}}">
    <div class="quote">{{this.review}}</div>
    <div class='source'>{{this.name}}</div>
  </li>
{{/each}}
{{/if_ls}}

</div>
</div></div> --}}