<div class="parallaxMENU" id="title" style="min-height: 500px;">

  <h4 id='homeTitle'>Our Menu</h4>

</div>

<div id="menu">
<div class="a">
  <h3>All Tacos come in orders of 2 or 4 with a side of chips and your choice of salsa (Guac is extra).</h3>
  
  <br>

  <h3 class="sigTaco">Taco-CRAZED</h3>
  <p class="sigIng">Slow-cooked tender steak, your choice of beans, rice, lettuce, tomatoes, jalapenos and cojita cheese, topped with tomatillo salsa. Flour or corn tortilla. (Add avocado + $1.50)</p>

  <br>

  <h3 class="sigTaco">Taco-Fuego</h3>
  <p class="sigIng">Our famous carnitas tacos, pinto beans, spanish rice, tomatoes, and jalapenos, topped with pepperjack cheese, and flaming hot diablo salsa. Flour or corn tortillas. (Add avocado + $1.50)</p>

  <br>

  <h3 class="sigTaco">Taco-Vegan</h3>
  <p class="sigIng">Non-GMO organic tofu, your choice of beans, brown rice, tomatoes, and grilled seasonal vegetables, topped with our mild salsa rojo. Flour or corn tortilla. (Add avocado + $1.50)</p>

  <br>

  <h3 class="sigTaco">The Basic</h3>
  <p class="sigIng">Melt-in-your-mouth chicken, white rice, pinto beans, corn, topped with cojita choice, lettuce, and tomatillo salsa. Flour or corn tortilla. (Add avocado + $1.50)</p>

  <br>

  <h3 class="sigTaco">All-dem-Veggies</h3>
  <p class="sigIng">Grilled seasonal veggies, tomatoes, corn, lettuce, topped with our signature coleslaw, on a bed of sauteed onions and mushrooms. Beans of your choice. Flour or corn tortilla. (Add avocado + $1.50)</p>

  <br>

  <h3 class="sigTaco">Unda-da-Sea</h3>
  <p class="sigIng">Shrimp sauteed in olive oil, brown rice, your choice of beans, tomatoes, lettuce and onion, topped with salsa rojo. Flour or corn tortilla. (Add avocado + $1.50)</p>

  <br>

  <h3 class="sigTaco">Add ons<h3>
  <p class="sigIng">Tortillas: Corn, Flour</p>

  <br>

  <p class="sigIng">Beans: Black, Pinto</p>

  <br>

  <p class="sigIng">Proteins: Chicken, Steak, Carnitas, Shrimp, Non-GMO Organic Tofu</p>

  <br>

  <p class="sigIng">Vegetables: Grilled-seasonal, Lettuce, Tomatoes, Corn, Jalapeno, Avocado, Coleslaw, Onions, Mushroom</p>

  <br>

  <p class="sigIng">Cheese: Cheddar, Pepperjack, Cojita, Sour Cream</p>

  <br>
  
  <p class="sigIng">Salsa: Tomatillo, Rojo, Diablo</p>

</div>
</div>