body {
    background-color: #222222;
    margin: 0;
}

#fade {
    position: fixed;
    top: 0px;
    width: 100%; 
    height: 80px;
    z-index: 9999;
    opacity: .87;
}

.parallax { 
    /* The image used */
    background-image: url(../images/tacos3.jpg);
    /* Set a specific height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxBYO { 
    /* The image used */
    background-image: url(../images/tacos4.jpg);
    /* Set a specific height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxCU { 
    /* The image used */
    background-image: url(../images/tacos5.jpg);
    /* Set a specific height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxMENU { 
    /* The image used */
    background-image: url(../images/tacosHD.jpg);
    /* Set a specific height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxLOCATIONS { 
    /* The image used */
    background-image: url(../images/skylineHD3.jpg);
    /* Set a specific height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    height: 100%;
}

#homeTitle{
    font-family: 'Impact';
    letter-spacing: 10px;
    font-size: 150px;
    color: white;
    text-align: center;
    padding: 15% 2%;
    opacity: .8;
}

h3 {
    font-family: 'Impact';
    letter-spacing: 7px;
    font-size: 60px;
    opacity: .8;
    color: white;
    text-align: center;
    padding: 25px 20px 25px 20px;
}

#communityTitle{
    background-image: url(../images/farm.jpg);
    color: white;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 500px;
    padding-top: 1px;
}

#promoTitle{
    background-image: url(../images/tacopeople.jpg);
    color:white;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 500px;
    padding-top: 20px;
}

.a {
    padding: 10px;
    margin: 10% 20%;
    text-align: center;
}

p {
    font-weight: bold;
    font-family: 'arial';
    line-height: 30px;
}

.navLink {
    width: 100%;
    margin: 0 60px;
}

#links {
    padding-top: 50px;
    text-align: center;
}

#foot {
    margin-top: 20px;
}

#checks {
    margin-left: 25px;
}

#itemName {
    margin-left: 42px;
    float: left;
}

#price {
    margin-left: 300px;
}

#inline {
    color: white;
    width: 100%;
    overflow: hidden;
}

#BYOwrap {
    width: 100%;
    padding-left: 397px;
}

#submitButton {
    width: 40%;
}

button#revSubmitBtn {
    margin-left: 575px;
}

#centerButton {
    padding-left: 85px;
}

#name, #email, #message, #subject{
    float:left;
    color:white;
}

#messageBox{
    height: 200px;
}

#submitBtn{
    display: block;
    margin-left: 40%;
    margin-top: 10px;
}

div#contactPara{
    background-color: #222222;
    height: 800px;
}
        
.aboutUs{
    color:white;
}

#who{
    margin-top: 30px;
}

.about {
    font-size: 13px;
}

.profilePics {
    height: 275px;
    width: 220px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    margin: 13px 0;
}

#jobTitle {
    color: grey;
}

#reviewname {
    margin-left: 31%;
}

#feedback {
    margin-left: 28%;
    text-align: center;
    width: 150px;
    height: 20px;
}

#feedbackBox {
    margin: auto;
    width: 498px;
    height: 42px; 
}

#reviewnameBox{
    width: 500px;
    margin: auto;
}

.sigIng {
    margin: auto;
    color: white;
    text-align: center;
    width: 40%;
}

#total {
    color: white;
    text-align: center;
    font-size: 48px;
    margin: 100px;
    padding: 50px;
}

h4 {
    color: white;
    text-align: center;
    text-decoration: underline;
}

.content-slider {
  width: 100%;
  height: 360px;
}

.slider {
  height: 320px;
  width: 680px;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 320px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 320px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  color: grey;
  font-size: 30px;
  font-style: italic;
}

.slider .source {
  color: grey;
  font-size: 16px;
  text-align: right;
}

.slider li.anim1 {
  -moz-animation: cycle 20s linear infinite;
  -webkit-animation: cycle 20s linear infinite;
  animation: cycle 20s linear infinite;
}

.slider li.anim2 {
  -moz-animation: cycle2 20s linear infinite;
  -webkit-animation: cycle2 20s linear infinite;
  animation: cycle2 20s linear infinite;
}

.slider li.anim3 {
  -moz-animation: cycle3 20s linear infinite;
  -webkit-animation: cycle3 20s linear infinite;
  animation: cycle3 20s linear infinite;
}

.slider li.anim4 {
  -moz-animation: cycle4 20s linear infinite;
  -webkit-animation: cycle4 20s linear infinite;
  animation: cycle4 20s linear infinite;
}

.slider li.anim5 {
  -moz-animation: cycle5 20s linear infinite;
  -webkit-animation: cycle5 20s linear infinite;
  animation: cycle5 20s linear infinite;
}

.slider:hover li {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-moz-keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-moz-keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-moz-keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-moz-keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-moz-keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}